
* {
    box-sizing: border-box;
}

/*styles the body*/
body{
    background-color: #dceff6;
}

/*styles the containers based on bootstrap*/
.container {
    max-width: 100%;
}

/*adds a border to all card class selectots based on bootstrap*/
.card {
    border: 2px solid black;
}

/*styles the container of the header*/
header {
    border-bottom: 3px solid black;
}

/*styles the city weather and 5 day forecast containers*/
#ml{
    margin-left: 290px;
    height: 300px;
    margin-top: 50px;
    
}

/*styles the search and list city containers*/
#mr{
    height: 150px;
    margin-top:60px;
}